<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xpit.geth.mapper.MicroOrderMapper">

    <resultMap type="MicroOrder" id="MicroOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="orderTime"    column="order_time"    />
        <result property="address"    column="address"    />
        <result property="trackingNum"    column="tracking_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap type="MicroOrderVo" id="MicroOrderVoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="orderTime"    column="order_time"    />
        <result property="address"    column="address"    />
        <result property="trackingNum"    column="tracking_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="userName"    column="user_name"    />
        <result property="phone"    column="phone"    />
    </resultMap>

    <resultMap type="OrderVo" id="OrderVoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="image"    column="image_link"   />
        <result property="category"    column="category"    />
        <result property="orderTime"    column="order_time"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="trackingNum"    column="tracking_num"    />
    </resultMap>

    <resultMap id="contentInfo" type="ContentInfoVo">
        <result property="id"    column="id"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="time"    column="time"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="image"    column="image_link"   />
        <result property="category"    column="category"    />
        <result property="startPrice"    column="start_price"   />
        <result property="trackingNum"    column="tracking_num"   />
        <result property="addressId"    column="address_id"   />
        <result property="name"    column="name"   />
        <result property="phone"    column="phone"   />
        <result property="address"    column="address"   />
    </resultMap>

    <sql id="selectMicroOrderVo">
        select id, user_id, goods_id, amount, status, order_time, address, tracking_num, create_time, create_by, update_time, update_by, del_flag from micro_order
    </sql>

    <select id="selectMicroOrderList" parameterType="MicroOrder" resultMap="MicroOrderResult">
        <include refid="selectMicroOrderVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="orderTime != null "> and order_time = #{orderTime}</if>
            <if test="trackingNum != null  and trackingNum != ''"> and tracking_num = #{trackingNum}</if>
        </where>
    </select>

    <select id="selectMicroOrderById" parameterType="Long" resultMap="MicroOrderResult">
        <include refid="selectMicroOrderVo"/>
        where id = #{id}
    </select>
    <select id="selectAppOrderList" resultMap="OrderVoResult">
        SELECT
            mo.id,
            mg.name,
            mg.`image_link`,
            mg.category,
            mo.`amount`,
            mo.order_time,
            mo.status,
            mo.`tracking_num`
        FROM
            micro_order mo
                LEFT JOIN micro_goods mg
                          ON mg.id = mo.`goods_id`
        WHERE mo.`del_flag` = 0
          AND mo.`user_id` = #{userId}
        order by mo.id desc
    </select>
    <select id="selectByTask" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            micro_order
        WHERE user_id = #{userId}
          AND goods_id = #{goodsId}
          AND del_flag = 0
    </select>

    <select id="selectMicroOrderVoList" resultMap="MicroOrderVoResult">
        SELECT
        mo.*, mg.`name` AS goods_name, mau.`name` AS user_name, mau.phone
        FROM
        micro_order mo
        LEFT JOIN micro_goods mg ON mg.id = mo.goods_id
        LEFT JOIN micro_app_user mau ON mau.id = mo.user_id
        <where>
            <if test="userId != null "> and mo.user_id = #{userId}</if>
            <if test="goodsId != null "> and mo.goods_id = #{goodsId}</if>
            <if test="amount != null "> and mo.amount = #{amount}</if>
            <if test="status != null "> and mo.tatus = #{status}</if>
            <if test="orderTime != null "> and mo.order_time = #{orderTime}</if>
            <if test="trackingNum != null  and trackingNum != ''"> and mo.tracking_num = #{trackingNum}</if>
        </where>
    </select>
    <select id="selectAppOrderById" resultMap="contentInfo">
        SELECT
            mo.id,
            mo.`amount`,
            mo.`status`,
            mo.`order_time` AS `time`,
            mg.`name` AS goods_name,
            mg.`category`,
            mg.`image_link`,
            mg.`start_price`,
            mo.`tracking_num`,
            md.id AS address_id,
            md.`name`,
            md.phone,
            md.address
        FROM
            micro_order mo
                LEFT JOIN micro_goods mg ON mo.`goods_id` = mg.`id`
                LEFT JOIN micro_user_address md ON mo.address = md.id
                AND mo.user_id = md.user_id
        WHERE mo.id = #{id}
          AND mo.`user_id` = #{userId}
    </select>

    <insert id="insertMicroOrder" parameterType="MicroOrder" useGeneratedKeys="true" keyProperty="id">
        insert into micro_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="amount != null">amount,</if>
            <if test="status != null">status,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="trackingNum != null">tracking_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="status != null">#{status},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="trackingNum != null">#{trackingNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateMicroOrder" parameterType="MicroOrder">
        update micro_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="trackingNum != null">tracking_num = #{trackingNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="pickup">
        UPDATE micro_order
        SET address = #{addressId},
            `status` = '1' ,
            update_time = NOW(),
            update_by = #{userId}
        WHERE
            user_id = #{userId}
          AND del_flag = 0
    </update>

    <delete id="deleteMicroOrderById" parameterType="Long">
        delete from micro_order where id = #{id}
    </delete>

    <delete id="deleteMicroOrderByIds" parameterType="String">
        delete from micro_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>