<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xpit.geth.mapper.MicroBidMapper">

    <resultMap type="MicroBid" id="MicroBidResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="bidTime"    column="bid_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap type="MicroBidVo" id="MicroBidVoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="bidTime"    column="bid_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="userName"    column="user_name"    />
        <result property="phone"    column="phone"    />
    </resultMap>

    <resultMap type="BidVo" id="BidVoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="image"    column="image_link"   />
        <result property="category"    column="category"    />
        <result property="bidTime"    column="bid_time"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectMicroBidVo">
        select id, user_id, goods_id, amount, status, bid_time, create_time, create_by, update_time, update_by, del_flag from micro_bid
    </sql>

    <select id="selectMicroBidList" parameterType="MicroBid" resultMap="MicroBidResult">
        <include refid="selectMicroBidVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="amount != null  and amount != ''"> and amount = #{amount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectMicroBidById" parameterType="Long" resultMap="MicroBidResult">
        <include refid="selectMicroBidVo"/>
        where id = #{id}
    </select>
    <select id="selectAppBidList" resultMap="BidVoResult">
        SELECT
            mb.id,
            mg.name,
            mg.`image_link`,
            mg.category,
            mb.`amount`,
            mb.bid_time,
            mb.status
        FROM
            micro_bid mb
                LEFT JOIN micro_goods mg
                          ON mg.id = mb.`goods_id`
        WHERE mb.`del_flag` = 0
          AND mb.`user_id` = #{userId}
        order by mb.id desc
    </select>
    <select id="selectWithdraw" resultType="java.lang.Long">
        SELECT
            user_id
        FROM
            micro_bid
        WHERE goods_id = #{goodsId}
    </select>
    <select id="selectHighestPrice" resultType="java.math.BigDecimal">
        SELECT
            amount
        FROM
            micro_bid
        WHERE goods_id = #{goodsId}
          AND user_id = #{userId}
          AND del_flag = 0
          AND `status` = 0
        ORDER BY amount DESC
            LIMIT 1
    </select>

    <select id="selectMicroBidVoList" resultMap="MicroBidVoResult">
        SELECT
        mb.*, mg.`name` AS goods_name, mau.`name` AS user_name, mau.phone
        FROM
        micro_bid mb
        LEFT JOIN micro_goods mg ON mg.id = mb.goods_id
        LEFT JOIN micro_app_user mau ON mau.id = mb.user_id
        <where>
            <if test="userId != null "> and mb.user_id = #{userId}</if>
            <if test="goodsId != null "> and mb.goods_id = #{goodsId}</if>
            <if test="amount != null  and amount != ''"> and mb.amount = #{amount}</if>
            <if test="status != null "> and mb.status = #{status}</if>
        </where>
    </select>

    <insert id="insertMicroBid" parameterType="MicroBid" useGeneratedKeys="true" keyProperty="id">
        insert into micro_bid
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="amount != null">amount,</if>
            <if test="status != null">status,</if>
            <if test="bidTime != null">bid_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="status != null">#{status},</if>
            <if test="bidTime != null">#{bidTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateMicroBid" parameterType="MicroBid">
        update micro_bid
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="bidTime != null">bid_time = #{bidTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateBidStatus">
        UPDATE
            micro_bid
        SET
            `status` = '1',
            update_time = NOW()
        WHERE user_id = #{userId}
          AND goods_id = #{goodsId}
          AND amount = #{amount}
          AND `status` = '0'
          AND del_flag = '0'
    </update>
    <update id="updateByFail">
        UPDATE
            micro_bid
        SET
            `status` = '2',
            update_time = NOW()
        WHERE goods_id = #{goodsId}
          AND `status` = '0'
          AND del_flag = '0'
    </update>

    <delete id="deleteMicroBidById" parameterType="Long">
        delete from micro_bid where id = #{id}
    </delete>

    <delete id="deleteMicroBidByIds" parameterType="String">
        delete from micro_bid where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>